# Environment variables & credentials
.env

# Python bytecode & virtual environments
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# IDE files
.vscode/
.idea/

# Archives & OS files
*.zip
*.tar.gz
.DS_Store
Thumbs.db
